@import url('reset.css');

body, html {
    font-family: 'Segoe UI', sans-serif;
}

.wrap {
    position: relative;
}

.wrap section {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.wrap section.red {
    background-color: #eb4433;
}
.wrap section.blue {
    background-color: #6e9feb;
}
.wrap section.green {
    background-color: #87cd3f;
}
.wrap section.purple {
    background-color: #cb66bf;
}
.wrap section.yellow {
    background-color: #fef15e;
    color: #8a6d65;
}

@media screen and (max-width: 768px) {
    .wrap.touch {
        width: 100%;
        height: 100%;
    }
    .wrap.touch section {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 500ms ease;
    }

    .wrap.touch section.open {
        opacity: 1;
    }
}